# === API Configuration ===
APP_ENV=development
API_HOST=0.0.0.0
API_PORT=8000

# === Azure Storage (Azurite local emulator) ===
# safe for local dev only
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;

# === Upload Configuration ===
MAX_FILE_SIZE_MB=5120
CHUNK_SIZE_MB=8